<template>
  <v-row no-gutters>
    <ProductCard v-for="product in products" :product="product" :key="product.id"/>
  </v-row>
</template>

<script>
import ProductCard from "@/components/ProductCard";

export default {
  name: "CategoryPage",
  components: {
    ProductCard
  },
  data() {
    return {
      products: {}
    }
  },
  mounted() {
    return this.axios.get(`/category/${this.$route.params.id}/products`)
        .then(response => (this.products = response.data))
  }
}
</script>