<template>
  <div>
    <v-row dense>
      <ProductCard v-for="product in products" :product="product" :key="product.id"/>
    </v-row>

  </div>
</template>
<script>
import ProductCard from "@/components/ProductCard"

export default {
  name: "HomePage",
  components: {
    ProductCard
  },
  data() {
    return {
      products: {}
    }
  },
  mounted() {
    return this.$http.get("/product")
        .then(response => (this.products = response.data))
  }
}
</script>