<template>
  <v-row justify="center">
    <v-col
        cols="12"
        sm="9"
        md="7"
        lg="5"
    >
      <v-card ref="form">
        <v-card-title>Login</v-card-title>
        <v-card-text>
          <v-text-field
              ref="username"
              v-model="username"
              :rules="[() => !!username || '*Required']"
              label="Email"
              required
              class="form-input"
          ></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-text-field
              ref="password"
              v-model="password"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[() => !!password || 'Required.']"
              :type="show ? 'text' : 'password'"
              name="input-10-2"
              label="Password"
              class="form-input"
              @click:append="show = !show"
              required
          ></v-text-field>
        </v-card-text>
        <v-divider class="mt-12"></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="primary"
              text
              @click="submit">
            Submit
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-snackbar
        v-model="snackbar"
        :multi-line="true"
    >
      {{ errorResponse }}

      <template v-slot:action="{ attrs }">
        <v-btn
            color="red"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-row>
</template>

<script>
export default {
  name: "LoginPage",
  computed: {
    form() {
      return {
        username: this.username,
        password: this.password
      }
    },
  },
  data() {
    return {
      errorResponse: null,
      snackbar: false,
      username: null,
      password: null,
      formHasErrors: false,
      show: false,
    }
  },
  methods: {
    submit() {
      this.formHasErrors = false

      Object.keys(this.form).forEach(f => {
        if (!this.form[f]) this.formHasErrors = true

        this.$refs[f].validate(true)
      })
      if (this.formHasErrors) {
        return;
      }
      this.$loading.show(true);
      this.$store.dispatch('login', {
        username: this.username,
        password: this.password
      }, {root: true}).then(response => {
        if (response.status === 200 && response.data) {
          this.$router.back();
        } else {
          this.snackbar = true
          this.errorResponse = "Incorrect email or password";
        }
        this.$loading.hide()
      }, () => {
        this.$loading.hide();
      })
    }
  }
}
</script>
