<template>
  <div>
    <v-app-bar color="accent-4" dense>
      <v-container>
        <v-row justify="center" align="center" class="navbar_main">
          <v-toolbar-items>
            <div style="padding: 25px">
              <router-link to="/">
                Home
              </router-link>
            </div>
          </v-toolbar-items>
          <v-toolbar-items
              v-for="category in categories"
              :key="category.id">
            <div style="padding: 25px">
              <router-link :to="{name: 'CategoryDetail', params: {id: category.id}}">{{ category.name }}</router-link>
            </div>
          </v-toolbar-items>
        </v-row>
      </v-container>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              icon
              v-bind="attrs"
              v-on="on"
          >
            <v-icon>mdi-basket-outline</v-icon>
          </v-btn>
        </template>


        <v-list>
          <v-list-item
              v-for="item in cart"
              :key="item.id"
          >
            <v-list-item-avatar>
              <v-img src="https://image.s5a.com/is/image/saksoff5th/0400016396420?dpr=on,1"></v-img>
            </v-list-item-avatar>
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>

          <v-divider v-if="cart.length > 0"></v-divider>
          <v-list-item
              v-if="cart.length > 0"
          >
            <v-list-item-content>
              <router-link :to="{name: 'CheckoutPage'}">Checkout</router-link>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: "HeaderAppBar",
  data() {
    return {
      categories: [],

    }
  },
  mounted() {
    return this.axios.get("/category")
        .then(response => (this.categories = response.data))
  },
  methods: {},

  computed: {
    ...mapGetters({
      cart: 'getCart'
    })
  }

}
</script>