<template>
  <v-col cols="2">
    <v-card
        class="mx-auto my-5"
        max-width="290">
      <v-img src="https://image.s5a.com/is/image/saksoff5th/0400016396420?dpr=on,1"></v-img>
      <v-card-title>{{ product.name }}</v-card-title>
      <v-card-text>
        <v-rating
            :value="4"
            color="amber"
            dense
            half-increments
            readonly
            size="14">
        </v-rating>
        <div class="my-4 text-subtitle-1">
          <strong>Price</strong>: $ {{ product.price }}
        </div>
      </v-card-text>
      <v-divider class="mx-4"></v-divider>
      <v-card-actions class="text-center">
        <v-btn
            color="deep-purple lighten-2"
            text
            @click="addToCart"
        >
          Add to cart
        </v-btn>
        <v-btn
            color="deep-purple lighten-2"
            text
            @click="addToWishlist"
        >
          Add to wishlist
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
    }
  },
  methods: {
    addToCart() {
      this.$store.dispatch('addToCart', this.product)
    },
    addToWishlist() {
      console.log("Added to wishlist")
    },
  }
}
</script>