<template>
  <div></div>
</template>
<script>
export default {
  name: "SnackbarComponent",

  props: {
    snackbar: {
      type: Boolean,
      required: true
    },
    message: {
      type: Text,
      required: true
    },
    multiLine: Boolean
  }
}
</script>