<template>
  <div class="text-center">
    <v-overlay :value="show">
      <v-progress-circular
          indeterminate
          size="64"
      ></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
export default {
  name: "SpinnerComponent",
  props: {
    show: {
      type: Boolean,
      required: true,
      default: false
    }
  },
}
</script>
