<template>
  <v-app>
    <spinner-component :show="$loading.isShow"
    />
    <header-app-bar/>
    <v-container>
      <v-spacer/>
      <router-view :key="$route.fullPath"></router-view>
    </v-container>
  </v-app>
</template>

<script>
import HeaderAppBar from "@/components/HeaderAppBar"
import SpinnerComponent from "@/components/SpinnerComponent";

export default {
  name: 'App',

  components: {
    SpinnerComponent,
    HeaderAppBar
  },

  data: () => ({
    //
  }),
}
</script>
